doctype
html
  head
    title= zhaowei的博客
    meta(name="description" content="记录web开发，编程，各种想法的地方。我是猫头鹰。")
    link(rel="stylesheet" href="/normalize.css")
    link(rel="stylesheet" href="/main.css")
  body
    != yield
